@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

#header {
  width: 100vw;
  height: 50px;
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid rgb(122, 122, 122);
}
#header .book-icon {
  width: 32px;
  margin-left: 50px;
}
#header .search {
  position: relative;
}
#header .search .search-bar {
  width: 490px;
  height: 35px;
  border-radius: 50px;
  border: none;
  background-color: #F6F6F6;
  padding-left: 20px;
}
#header .search .search-bar::placeholder {
  font-size: 17px;
}
#header .search .search-btn {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
#header .btns {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
#header .btns .sign-in-link {
  text-decoration: none;
  color: black;
}
#header .btns .sign-up-btn {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  border: none;
  background-color: #FF3F3F;
  font-size: 16px;
  margin-left: 15px;
}
#header .btns .cart-icon {
  margin-left: 40px;
  width: 32px;
}
#header .btn-logged {
  display: flex;
  align-items: center;
}
#header .btn-logged p {
  margin-right: 10px;
}

@media (max-width: 888px) {
  #header .search .search-bar {
    width: 40vw;
  }
  #header .book-icon {
    margin-left: 5px;
  }
  #header .btns .cart-icon, #header .btns .sign-up-btn {
    margin-left: 5px;
  }
}
@media (max-width: 400px) {
  #header .book-icon {
    display: none;
  }
}
#inicial-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #F2F2F2;
}
#inicial-section .book {
  width: 80px;
}
#inicial-section .book-departments {
  display: flex;
  width: 95vw;
  margin-top: 50px;
  justify-content: space-around;
}
#inicial-section .book-departments .book-department {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 190px;
  height: 190px;
}
#inicial-section .book-departments .book-department .department-name {
  font-size: 24px;
  margin-top: 20px;
}
#inicial-section .department-top-sellers {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-around;
  width: 85vw;
  padding: 0 5vw;
  height: 250px;
  margin-top: 50px;
  background-color: white;
}
#inicial-section .department-top-sellers .title {
  position: absolute;
  top: 20px;
  left: 30px;
}
#inicial-section .department-top-sellers .department-books {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#inicial-section .department-top-sellers .department-books .book-info {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#inicial-section .department-top-sellers .department-books .book-info .book-name {
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
}

@media (max-width: 888px) {
  #inicial-section .book-department:nth-child(4), #inicial-section .book-department:nth-child(5) {
    display: none;
  }
  #inicial-section .department-top-sellers .department-books .book-info:nth-child(5),
  #inicial-section .department-top-sellers .department-books .book-info:nth-child(6),
  #inicial-section .department-top-sellers .department-books .book-info:nth-child(7) {
    display: none;
  }
}
#footer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  padding: 20px 0;
  background-color: #343C64;
  color: white;
}
#footer img {
  filter: brightness(0) invert(1);
}
#footer a {
  text-decoration: none;
  color: white;
}

#contact-us-section, #sign-up-section, #sign-in-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
  align-items: center;
}
#contact-us-section .form, #sign-up-section .form, #sign-in-section .form {
  border: 1px solid black;
  border-radius: 30px;
  width: 300px;
  height: 440px;
  padding-left: 20px;
}
#contact-us-section .form .send-a-message, #sign-up-section .form .send-a-message, #sign-in-section .form .send-a-message {
  font-size: 20px;
  margin: 20px 0;
}
#contact-us-section .form .submit, #sign-up-section .form .submit, #sign-in-section .form .submit {
  margin-top: 10px;
  background-color: #0038FF;
  color: white;
  border-radius: 50px;
  border: none;
}
#contact-us-section input, #contact-us-section textarea, #sign-up-section input, #sign-up-section textarea, #sign-in-section input, #sign-in-section textarea {
  border: 1px solid black;
}
#contact-us-section input, #sign-up-section input, #sign-in-section input {
  width: 280px;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 2px;
  padding-left: 5px;
}
#contact-us-section input:focus, #sign-up-section input:focus, #sign-in-section input:focus {
  outline: none;
}
#contact-us-section .terms, #sign-up-section .terms, #sign-in-section .terms {
  font-size: 10px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

#sign-in-section .form {
  height: 280px;
}

#products-filters {
  height: 100vh;
  padding-top: 69px;
  display: flex;
}
#products-filters .filters {
  width: 200px;
  padding-left: 20px;
}
#products-filters .filters:nth-child(1) {
  font-size: 13px;
}
#products-filters .filters .star {
  width: 20px;
}
#products-filters .filters .price input {
  width: 30px;
  border: 1px solid black;
  margin: 0 5px;
}
#products-filters .filters .category {
  margin-left: 20px;
  list-style-type: none;
  cursor: pointer;
}
#products-filters .products {
  width: 100%;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#products-filters .products .book {
  border: 1px solid rgb(124, 124, 124);
  width: 250px;
  row-gap: 5px;
  display: inline-block;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  padding-bottom: 70px;
}
#products-filters .products .book h1 {
  font-size: 16px;
}
#products-filters .products .book .book-image {
  width: 200px;
  align-self: center;
}
#products-filters .products .book .book-rating {
  display: flex;
  align-items: center;
}
#products-filters .products .addToCart {
  width: 100px;
  height: 35px;
  border-radius: 50px;
  background-color: rgb(49, 255, 49);
  position: absolute;
  bottom: 15px;
}

@media (max-width: 1124px) {
  #products-filters .products {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 830px) {
  #products-filters .products {
    grid-template-columns: 1fr;
    margin-left: 0;
  }
}
@media (max-width: 443px) {
  #products-filters .products .book {
    padding: 15px 0 70px 0;
    width: 100%;
  }
  #products-filters .products .book .book-image {
    width: 160px;
    height: 250px;
    align-self: center;
  }
}
.search-btn, .sign-up-btn, .book, .star, .submit {
  cursor: pointer;
}

#image-info {
  padding-top: 140px;
  height: 600px;
  display: flex;
}
#image-info .image {
  min-width: 50vw;
  display: flex;
  justify-content: center;
}
#image-info .image img {
  object-fit: contain;
  width: 50%;
}
#image-info .info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
#image-info .info .rating {
  display: flex;
  align-items: center;
}
#image-info .info .rating .rating-star {
  margin: 0 2px;
}
#image-info .info .price {
  font-size: 25px;
}
#image-info .info .description {
  max-height: 200px;
  overflow: hidden;
}
#image-info .info .input {
  border: 1px solid black;
}
#image-info .info .submit {
  margin-left: 5px;
  width: 70px;
  height: 25px;
  border-radius: 50px;
  background-color: #0037ff;
  color: white;
}
#image-info .info .buy-now {
  background-color: orange;
}
#image-info .info .add {
  background-color: rgb(0, 196, 0);
}
#image-info .info .buy-now, #image-info .info .add {
  width: 200px;
  height: 35px;
  border-radius: 50px;
}

@media (max-width: 850px) {
  #image-info {
    flex-direction: column;
    padding: 50px 50px;
  }
  .complete-info {
    margin-top: 500px;
  }
}
.complete-info {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 50vw;
  margin-bottom: 150px;
}

.rating-star {
  width: 20px;
  min-height: 20px;
}

.cart {
  display: grid;
  grid-template-columns: 75% 25%;
  background-color: #F2F2F2;
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 100vh;
}
.cart .products {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-left: 20px;
}
.cart .products .clean-cart {
  color: rgb(114, 220, 255);
  align-self: flex-end;
  cursor: pointer;
}
.cart .products .product {
  display: grid;
  background-color: white;
  border-radius: 50px;
  grid-template-columns: 25% 55% 20%;
  align-items: center;
  padding: 20px 0;
}
.cart .products .product .info {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}
.cart .products .product .image {
  margin-left: 50px;
}
.cart .products .product input {
  border: 1px solid black;
  width: 50px;
  padding: 0 5px;
  margin-left: 10px;
}
.cart .products .product .title {
  font-size: 20px;
}
.cart .products .product .author {
  color: rgb(151, 151, 151);
}
.cart .products .product .stock {
  color: #40FF3D;
}
.cart .products .product .remove {
  color: rgb(114, 220, 255);
  cursor: pointer;
}
.cart .products .product .price {
  font-size: 20px;
}
.cart .procced {
  background-color: white;
  border-radius: 50px;
  height: 120px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.cart .procced .total {
  align-self: flex-start;
  margin: 30px 0 0 20px;
}
.cart .procced .total .subtotal, .cart .procced .total .subtotal-value {
  display: inline-block;
}
.cart .procced button {
  background-color: #40FF3D;
  border-radius: 50px;
  height: 35px;
  width: 150px;
}

button, #header .book-icon, .cart-icon {
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
