@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


$search-bar-color: #F6F6F6;
$sign-up-btn-color: #FF3F3F;
$inicial-page-cart-color: #F2F2F2;
$footer-color: #343C64;
$submit-btn-color: #0038FF;


*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}


#header{
    width: 100vw;
    height: 50px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    z-index: 100;
    border-bottom: 1px solid rgb(122, 122, 122);

    .book-icon{
        width: 32px;
        margin-left: 50px;
    }
    .search{
        position: relative;

        .search-bar{
            width: 490px;
            height: 35px;
            border-radius: 50px;
            border: none;
            background-color: $search-bar-color;
            padding-left: 20px;
            &::placeholder{
                font-size: 17px;
            }
        }
        .search-btn{
            width: 20px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .btns{
        margin-right: 50px;
        display: flex;
        align-items: center;
        .sign-in-link{
            text-decoration: none;
            color: black;
        }
        .sign-up-btn{
            width: 100px;
            height: 30px;
            border-radius: 50px;
            border: none;
            background-color: $sign-up-btn-color;
            font-size: 16px;
            margin-left: 15px;
        }
        .cart-icon{
            margin-left: 40px;
            width: 32px;
        }
    }
    .btn-logged{
        display: flex;
        align-items: center;
        p{
            margin-right: 10px;
        }
    }
    
}

@media(max-width: 888px){
    #header .search .search-bar{
        width: 40vw;
    }
    #header .book-icon{
        margin-left: 5px;
    }
    #header .btns .cart-icon, #header .btns .sign-up-btn{
        margin-left: 5px;
    }
}
@media(max-width: 400px){
    #header .book-icon{
        display: none;
    }
}


#inicial-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: $inicial-page-cart-color;

    .book{
        width: 80px;
    }

    .book-departments{
        display: flex;
        width: 95vw;
        margin-top: 50px;
        justify-content: space-around;

        .book-department{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 190px;
            height: 190px;
            .department-name{
                font-size: 24px;
                margin-top: 20px;
            }
        }
    }
    .department-top-sellers{
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: space-around;
        width: 85vw;
        padding: 0 5vw;
        height: 250px;
        margin-top: 50px;
        background-color: white;
        .title{
            position: absolute;
            top: 20px;
            left: 30px;
        }
        .department-books{
            display: flex;
            justify-content: space-around;
            align-items: center;
            .book-info{
                width: 100px;
                height: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .book-name{
                    text-align: center;
                    font-size: 10px;
                    margin-top: 5px;
                }
            }
        }
    }
    
}

@media(max-width: 888px){
    #inicial-section .book-department:nth-child(4), #inicial-section .book-department:nth-child(5){
        display: none;
    }
    #inicial-section .department-top-sellers .department-books .book-info:nth-child(5),
    #inicial-section .department-top-sellers .department-books .book-info:nth-child(6),
    #inicial-section .department-top-sellers .department-books .book-info:nth-child(7){
        display: none;
    }
}


#footer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    padding: 20px 0;
    background-color: $footer-color;
    color: white;
    img{
        filter: brightness(0) invert(1);
    }
    
    a{
        text-decoration: none;
        color: white;
    }
}

#contact-us-section, #sign-up-section, #sign-in-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    align-items: center;
    .form{
        border: 1px solid black;
        border-radius: 30px;
        width: 300px;
        height: 440px;
        padding-left: 20px;
        .send-a-message{
            font-size: 20px;
            margin: 20px 0;
        }
        .submit{
            margin-top: 10px;
            background-color: $submit-btn-color;
            color: white;
            border-radius: 50px;
            border: none;
        }
    }
    input, textarea{
        border: 1px solid black;
    }
    input{
        width: 280px;
        height: 30px;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 2px;
        padding-left: 5px;
    }
    input:focus{
        outline: none;
    }
    .terms{
        font-size: 10px;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
}
#sign-in-section{
    .form{
        height: 280px;
    }
    
}

#products-filters{
    height: 100vh;
    padding-top: 69px;
    display: flex;
    .filters{
        width: 200px;
        padding-left: 20px;
        &:nth-child(1){
            font-size: 13px;
        }
        .star{
            width: 20px;
        }
        .price{
            input{
                width: 30px;
                border: 1px solid black;
                margin: 0 5px;
            }
        }
        .category{
            margin-left: 20px;
            list-style-type: none;
            cursor: pointer;
        }
    }
    .products{
        width: 100%;
        margin-left: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .book{
            border: 1px solid rgb(124, 124, 124);
            width: 250px;
            row-gap: 5px;
            display: inline-block;
            border-radius: 20px;
            padding: 20px;
            position: relative;
            padding-bottom: 70px;
            h1{
                font-size: 16px;
            }
            .book-image{
                width: 200px;
                align-self: center;
            }
            .book-rating{
                display: flex;
                align-items: center;
            }
        }
        .addToCart{
            width: 100px;
            height: 35px;
            border-radius: 50px;
            background-color: rgb(49, 255, 49);
            position: absolute;
            bottom: 15px;
        }
    }
}
@media(max-width: 1124px){
    #products-filters .products{
        grid-template-columns: 1fr 1fr ;
    }

}
@media(max-width: 830px){
    #products-filters .products{
        grid-template-columns: 1fr ;
        margin-left: 0;
    }

}
@media(max-width: 443px){
    #products-filters .products .book{
        padding: 15px 0 70px 0 ;
        width: 100%;
    }
    #products-filters .products .book .book-image{
        width: 160px;
        height: 250px;
        align-self: center;
    }
}

.search-btn, .sign-up-btn, .book, .star, .submit{
    cursor: pointer;
}

#image-info{
    padding-top: 140px;
    height: 600px;
    display: flex;
    margin-bottom: 100px;
    .image{
        min-width: 50vw;
        display: flex;
        justify-content: center;
        img{
            object-fit: contain;
            width: 50%;
        }
    }
    .info{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        h1{

        }
        .rating{
            display: flex;
            align-items: center;
            .rating-star{
                margin: 0 2px;
            }
        }
        .price{
            font-size: 25px;
        }
        .description{
            max-height: 200px;
            overflow: hidden;
        }
        label{

        }
        .input{
            border: 1px solid black;
        }
        .submit{
            margin-left: 5px;
            width: 70px;
            height: 25px;
            border-radius: 50px;
            background-color: #0037ff;
            color: white;
        }
        .buy-now{
            background-color: orange;
        }
        .add{
            background-color: rgb(0, 196, 0);
        }
        .buy-now, .add{
            width: 200px;
            height: 35px;
            border-radius: 50px;
        }
    }
}

.complete-info{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 50vw;
    margin-bottom: 150px;
}
.rating-star{
    width: 20px;
    min-height: 20px;
}
.cart{
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: $inicial-page-cart-color;
    padding-top: 70px;
    padding-bottom: 70px;
    min-height: 100vh;
    .products{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        margin-left: 20px;
        .clean-cart{
            color: rgb(114, 220, 255);
            align-self: flex-end;
            cursor: pointer;
        }
        .product{
            display: grid;
            background-color: white;
            border-radius: 50px;
            grid-template-columns: 25% 55% 20%;
            align-items: center;
            padding: 20px 0;
            .info{
                display: flex;
                flex-direction: column;
                row-gap: 13px;
            }
            .image{
                margin-left: 50px;
            }
            input{
                border: 1px solid black;
                width: 50px;
                padding: 0 5px;
                margin-left: 10px;
            }
            .title{
                font-size: 20px;
            }
            .author{
                color: rgb(151, 151, 151);
            }
            .stock{
                color: #40FF3D;
            }
            .remove{
                color: rgb(114, 220, 255);
                cursor: pointer;
            }
            .price{
                font-size: 20px;
            }
        }
    }
    .procced{
        background-color: white;
        border-radius: 50px;
        height: 120px;
        margin: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        .total{
            align-self:flex-start;
            margin: 30px 0 0 20px;
            .subtotal, .subtotal-value{
                display: inline-block;
            }
        }
        button{
            background-color: #40FF3D;
            border-radius: 50px;
            height: 35px;
            width: 150px;
        }
    }
}
button, #header .book-icon, .cart-icon{
    cursor: pointer;
}